<section class="giscus mx-auto mt-10 w-full"></section>

<script
  is:inline
  src="https://giscus.app/client.js"
  data-repo="ismael3s/ismael3sdev"
  data-repo-id="R_kgDOMpujCA"
  data-category="Blog Comments"
  data-category-id="DIC_kwDOMpujCM4CiBSA"
  data-mapping="url"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="dark"
  data-lang="en"
  crossorigin="anonymous"
  async
></script>
